body, table {
		font-family: 'Vollkorn', serif;
		background-color: #F0F0F0;
		color: #131516;
}

img {
		max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		font-family: 'Fjalla One', sans-serif;
}

header {
		margin: 0 0 25px;
		border-bottom: solid black 2px;	
}

#container {
		width: 60%;
		margin: 0 20%;
		background-color: #ffffff;
		padding: 15px 30px;
		border-radius: 5px;
}

.post_container {
		max-height: 230px;
		overflow: hidden;
        margin: 0 0 35px;
		-webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.25);
		border-radius: 5px;
		padding: 25px;
}

a,
a:active,
a:hover,
a:active {
		color: black;
		text-decoration: none;
}

/*
div.post span.date {
		float: left;
		clear: both;
}

.post_container:before {
		-webkit-box-shadow: inset 0px -23px 37px -25px rgba(0,0,0,1);
		-moz-box-shadow: inset 0px -23px 37px -25px rgba(0,0,0,1);
		box-shadow: inset 0px -23px 37px -25px rgba(0,0,0,1);
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}
*/

.icon {
		font-size: 25px;
		cursor: pointer;
		color: black;
}

table {
		width: 100%;
}

.editor_input,
.button_container{
		clear: both;
		float: left;
}

.editor_input {
		width: 100%;
		height: 250px;
}
