<!DOCTYPE html>
<html>

<head>
		<title>Blog admin page</title>
</head>

<body>
<div class='container'>
		<div id='root'></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Vollkorn" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
<link rel="stylesheet" href="/static/style.css"/>
<script src="https://use.fontawesome.com/c167cc7952.js"></script>

<script type="text/babel">
		class App extends React.Component {
			render() {
				return (
					<Posts/>
				);
			}
		}
		class Posts extends React.Component {
			constructor(props) {
				super(props);
				this.state = {
					posts: {},
					loadComplete: false,
					update: false,
					editor: false
				};
				this.handler = this.handler.bind(this);
				this.openEditor = this.openEditor.bind(this);
				this.cancelPost = this.cancelPost.bind(this);
				this.emptyPost = {title: '', text: ''};
			}

			componentWillMount() {
				fetch('https://dev.jerenurminen.me/api/posts/')
				.then(response => response.json())
				.then(responseData => {
					console.log(this);
					this.setState({
						posts: responseData,
						loadComplete: true
					});
				});
			}

		handler() {
			fetch('https://dev.jerenurminen.me/api/posts/')
			.then(response => response.json())
			.then(responseData => {
				console.log(this);
				this.setState({
					posts: responseData,
					loadComplete: true
				});
			});
		}

		openEditor() {
			this.setState({
				editor: true
			})
		}

		cancelPost() {
			this.setState({
				editor: false
			})
		}

			render() {
				if (this.state.loadComplete) {
					return (
						<div className="admin_container">
						<button onClick={this.openEditor}>New Post</button>
						{this.state.editor && <Editor cancel={this.cancelPost} handler={this.handler} post={this.emptyPost}/> }
							<table>
								<tr>
									<th>Title</th>
									<th>Posted</th>
									<th>Last Updated</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
								</tr>
								{this.state.posts.map((post) => {
									return ( <Post post={post} handler={this.handler}/> )
								})}
							</table>
						</div>
					);
				} else {
					return (
						<div>Loading...</div>
					)
				}
			}
		}

		class Editor extends React.Component {
			constructor(props) {
				super(props);
				this.state = {
					post: {},
					title: this.props.post.title,
					text: this.props.post.text,
					update: false
				}
				this.defaultState = this.state;
				this.publishPost = this.publishPost.bind(this);
				this.updatePost = this.updatePost.bind(this);
				this.handleTitleChange = this.handleTitleChange.bind(this);
				this.handleTextChange = this.handleTextChange.bind(this);
			}

				handleTitleChange(event) {
					this.setState({title: event.target.value});
				}

				handleTextChange(event) {
					this.setState({text: event.target.value});
				}

				publishPost() {
					console.log({
							title: this.state.title,
							text: this.state.text
					});

					fetch('/api/posts/', { 
						method: 'POST', 
						headers: { 
								'Accept': 'application/json', 
								'Content-Type': 'application/json'
						}, body: JSON.stringify({ 
								title: this.state.title,
								text: this.state.text
						}), credentials: 'same-origin'
					}).then((response) => {
							console.log(response);
					}).catch(error => {
							alert('An error occured, see the console for more information.');
							console.log(error);
					});
					alert('Post published');
					this.setState(this.defaultState);
					this.props.handler();
				}

				updatePost() {
					fetch('/api/posts/' + this.props.post.id, { 
						method: 'PUT',
						headers: { 
								'Accept': 'application/json', 
								'Content-Type': 'application/json'
						}, body: JSON.stringify({
								id: this.props.post.id,
								title: this.state.title,
								text: this.state.text
						}), credentials: 'same-origin'
					}).then((response) => {
						console.log(response);
					}).catch(error => {
						alert('An error occured, see the console for more information.');
						console.log(error);
					});
					alert('Post updated');
					this.defaultState = this.state;
					this.setState(this.defaultState);
					this.props.handler();
				}

				render() {
					return(
						<div className="editor">
							<input onChange={this.handleTitleChange} value={this.state.title} type="text" placeholder="Title" name="title" className="editor_input">
							</input>
							<textarea onChange={this.handleTextChange} value={this.state.text} placeholder="Text" name="text" className="editor_input">
									{this.props.post && this.props.post.text}
							</textarea>
							<div className="button_container">
							{this.props.update ? (
								<button onClick={this.updatePost}>Update</button>
							) : (
								<button onClick={this.publishPost}>Publish</button>
							)}
							<button onClick={this.props.cancel}>Cancel</button>
							</div>
						</div>
					)
				}
		}

		class Post extends React.Component {
			constructor(props) {
				super(props);
				this.state = {
					post: {},
					ditor: false
				};
				this.delete = this.delete.bind(this);
				this.openEditor = this.openEditor.bind(this);
				this.cancelPost = this.cancelPost.bind(this);
			}

		delete() {
			if (confirm('Do you really want to delete "' + this.props.post.title + '"?')) {
				fetch('https://dev.jerenurminen.me/api/posts/' + this.props.post.id , {
					method: 'DELETE',
					credentials: "same-origin"
				}).then(() => {
					alert('Post deleted!')
					this.props.handler();
				}).catch((error) => {
					alert('An error occured! See the console for more details.');
					console.log(error);
				});
			}
		}

		openEditor() {
			this.setState({editor: true})
		}

		cancelPost() {
			this.setState({editor: false})
		}

			render() {
				return (
					<tbody>
					<tr key={this.props.post.id}>
						<td>{this.props.post.title}</td>
						<td>{this.props.post.created}</td>
						<td>{this.props.post.last_updated}</td>
						<td><i onClick={this.openEditor} className="icon fa fa-pencil-square" aria-hidden="true"></i></td>
						<td><i onClick={this.delete} className="icon fa fa-trash" aria-hidden="true"></i></td>
						<td><a href={'/' + this.props.post.id}><i className="icon fa fa-external-link" aria-hidden="true"></i></a></td>
					</tr>
					{this.state.editor && 
						<tr>
							<td colSpan="5">
								<Editor update={true} post={this.props.post} cancel={this.cancelPost} handler={this.props.handler} />
							</td>
						</tr>
					}
					</tbody>
				)
			}
		}

		ReactDOM.render(<App/>, document.getElementById('root') );
</script>

</body>
</html>
